.has-padding-bottom {
    padding-bottom: 10.4166666667vw;
}

.video{
    position: relative;
    .container {
        width: 69.0277777778vw;
        margin: auto;
        position: relative;
    }
}