.what-we-believe {
    padding: 13.8888888889vw 0 0;
    position: relative;


    .container {
        position: relative;
        grid-column-gap: 2.2222222222vw;
        display: grid;
        margin: 0 8.3333333333vw;
        margin-bottom: 10.4166666667vw;
        grid-template-columns: repeat(12, 1fr);
        .label {
            color: #0d0e13;
            display: inline-flex;
            font-size: 18px;
            justify-self: flex-start;
            letter-spacing: 0;
            height: 2.3611111111vw;
            line-height: 2.5694444444vw;
            padding-left: 1.5277777778vw;
            position: absolute;
            top: 44.0972222222vw;
            .icon {
                height: 0.8333333333vw;
                transform: translate(-1.4930555556vw, 0.7638888889vw);
                width: 0.8333333333vw;
                will-change: transform;
                position: absolute;
                z-index: 1;
            }
            .text {
                display: flex;
                position: relative;
                transform-origin: top left;
                z-index: 1;
            }
        }

        .title {
            font-size: 192px;
            letter-spacing: -0.4vw;
            line-height: 16vw;
            grid-column: 4 / 11;
            margin: 0 0 4.0277777778vw;
            order: 2;
            .title-mask {
                height: 10.0694444444vw;
                line-height: 7.6388888889vw;
                overflow: hidden;
            }
            .text-line,
            .title-line {
                transform-origin: top left;
            }
            .title-line {
                opacity: 0;
                transition: all .5s ease-out;
                visibility: hidden;
                transform-origin: top left;
                will-change: transform;
                transform: translate(0px, 400px) rotate(20deg);
            }
        }

        .body {
            grid-column: 4 / 9;
            order: 3;
            p {
                font-size: 30px;
                letter-spacing: 0;
                line-height: 1.4;
                &:last-child {
                    margin: 2.0833333333vw 0 0;
                }
            }
        }
        
        .quote {
            font-size: 14px;
            letter-spacing: 0.0266666667vw;
            align-self: flex-end;
            border-top: 1px solid rgba(13, 14, 19, 0.2);
            grid-column: 10 / 12;
            order: 4;
            padding-top: 26px;
            line-height: 1.5;
        }
    }

    .image {
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 100%;
        transform: scale(0.8);
    }
    .background {
        bottom: 0;
        overflow: hidden;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        .dark {
            bottom: 18.75vw;
        }
        .light {
            bottom: -2px;
            height: 66.9333333333vw;
            left: 0;
            position: absolute;
            right: 0;
            background: #0d0e13;
            height: 18.75vw;
        }
    }
}
