.imagede {
    background-color: rgb(245, 238, 221);
    position: relative;
}
.is-contained .container {
    grid-column-gap: 2.2222222222vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    margin: 0 8.3333333333vw;
}
.is-contained .image {
    grid-column: 2 / 12;
}
