.has-padding-bottom {
    padding-bottom: 10.4166666667vw;
}

.videotwo{
    position: relative;
    background-color: rgb(245, 238, 221);
    .container {
        width: 69.0277777778vw;
        margin: auto;
        position: relative;
    }
}